/* Styles for the Contact React component */
.contact {
  text-align: center;
  padding: 1rem;
  margin: 1rem;
}

.contact .icon-container {
  text-align: center;
}

figure {
  display: table;
  margin: 1rem 1rem 1rem 1rem;
  color: grey;
}

figcaption {
  display: table-caption;
  caption-side: bottom;
  font-size: 0.75rem;
}