/* Styles for the NavBar React component */
#nav-bar {
  margin-bottom: 30px;
  background-color: grey;
  text-align: center;
}

.cdk-overlay-pane {
  width: 100%!important;
}

.mat-menu-panel {
  max-width: 100%!important;
  min-width: 64px!important;
}